VITE_SUPABASE_PROJECT_ID="vrywyqpxmmzikaedjoxt"
VITE_SUPABASE_PUBLISHABLE_KEY="TU_SUPABASE_ANON_KEY"
VITE_SUPABASE_URL="https://vrywyqpxmmzikaedjoxt.supabase.co"
VITE_SITE_URL="https://tu-dominio.com"
VITE_TRACKING_URL=""
